<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recomendações de jogos - Enric Llagostera</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
  </head>
  <body>
    <h1>Recomendações de jogos</h1>
    <p class="intro">Em cada começo de aula, eu trago algum jogo para apresentar para os estudantes. Aqui está uma página juntando essas referências, para facilitar o acesso e permitir uma visão geral. Cada semana vou atualizando com novas recomendações e no topo estão as mais recentes. Para mais informações ou dúvidas, me mande um <a href="mailto:enricllagostera@gmail.com">email</a>.</p>
    <p class="intro">- <a href="http://enric.llagostera.com.br">Enric Llagostera</a></p>

    <ul class="filtro">
      <li class="filtro-item"><a id="todas-disciplinas" class="todas-disciplinas atual" href="#">todas as disciplinas</a></li>
      <li class="filtro-item"><a id="mitologia-2017-1s" class="mitologia-2017-1s" href="#">mitologia-2017-1s</a></li>
      <li class="filtro-item"><a id="proj2-2017-1s" class="proj2-2017-1s" href="#">proj2-2017-1s</a></li>
      <li class="filtro-item"><a id="balanceamento-2017-1s" class="balanceamento-2017-1s" href="#">balanceamento-2017-1s</a></li>
      <li class="filtro-item"><a id="proj4-2017-1s" class="proj4-2017-1s" href="#">proj4-2017-1s</a></li>
    </ul>


    <div class="recs">
    {{#info}}
      <div class="recs-jogo {{disciplina}}">
        <h2><a href="{{jogo.url}}">{{jogo.nome}}</a></h2>
        <p class="infos">{{data}}, em <span class="nome-disciplina {{disciplina}}">{{disciplina}}</span>.</p>
        <img src="{{jogo.img-url}}" class="{{disciplina}}" alt="">
        {{{md_descricao}}}
      </div>
    {{/info}}
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="js/filtrar.js" charset="utf-8"></script>
  </body>
</html>
