@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,900i|Raleway:900');

body {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 18px;
  line-height: 1.25em;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: black;
}

h1 {
  font-size: 42px;
  margin: 2em 0 1.5em 0;
  line-height: 1.25em;
}

.intro a {
  font-weight: 900;
  text-decoration: none;
  color: black;
}

div.recs-jogo {
  margin: 3em 0.5em 2em 0.5em;
}

div.recs-jogo h2 {
  font-size: 30px;
  margin: 1.25em 0 1em 0;
}

div.recs-jogo h2 a {
  text-decoration: none;
}

p {
  margin: 1.25em 0;
}

p.intro {
  font-weight: 400;
  font-style: italic;
}

em {
  font-style: italic;
}

img {
  display: block;
  max-width: 100%;
  max-height: 450px;
  margin: 0 auto;
}

span.nome-disciplina {
  padding: 2px;
  border-radius: 2px;
}

/* DISCIPLINAS */


a#mitologia-2017-1s.atual {
  background-color:#ff6969;
  color:black !important;
}

a#mitologia-2017-1s:hover {
  color:#ff6969;
}

span.mitologia-2017-1s {
  background-color:#ff6969;
}

.mitologia-2017-1s h2 a {
  color:#ff6969;
}

img.mitologia-2017-1s {
  border: 5px solid #ff6969;
  border-radius: 2px;
}

a#proj2-2017-1s.atual {
  background-color:#68b9ff;
  color:black !important;
}

a#proj2-2017-1s:hover {
  color:#68b9ff;
}

span.proj2-2017-1s {
  background-color:#68b9ff;
}

.proj2-2017-1s h2 a {
  color:#68b9ff;
}

img.proj2-2017-1s {
  border: 5px solid #68b9ff;
  border-radius: 2px;
}

a#proj4-2017-1s:hover {
  color:#ffba65;
}

a#proj4-2017-1s.atual {
  background-color:#ffba65;
  color:black !important;
}

span.proj4-2017-1s {
  background-color:#ffba65;
}

.proj4-2017-1s h2 a {
  color:#ffba65;
}

img.proj4-2017-1s {
  border: 5px solid #ffba65;
  border-radius: 2px;
}

a#balanceamento-2017-1s:hover {
  color:#a3d77c;
}

a#balanceamento-2017-1s.atual {
  background-color:#a3d77c;
  color:black !important;
}

span.balanceamento-2017-1s {
  background-color:#a3d77c;
}

.balanceamento-2017-1s h2 a {
  color:#a3d77c;
}

img.balanceamento-2017-1s {
  border: 5px solid #a3d77c;
  border-radius: 2px;
}

/* FILTROS */

h3.filtro {
  font-weight: 400;
  font-style: italic;
  margin: 2.5em 0 1em 0;
}

ul.filtro {
  margin: 3em 0;
}

ul.filtro li {
  padding: 2px;
  border-radius: 2px;
  font-weight: 900;
  line-height: 1.5em;
}

ul.filtro li a {
  padding: 2px;
  border-radius: 2px;
  text-decoration: none;
  color:black;
}

ul.filtro li a:visited {
  padding: 2px;
  border-radius: 2px;
  text-decoration: none;
  color:black;
}

ul.filtro li a:hover:before {
  content: "> ";
}

/* filtro atual */
ul.filtro li a.atual {
  background-color: black;
  padding: 2px;
  border-radius: 2px;
  color:white;
}

ul.filtro li a.atual:before {
  content:">> "
}

/*
ul.filtro li a.atual:after {
  content:" <"
}
*/
